<!-- app-form.component.html -->
<form (ngSubmit)="onSubmit()">
    <label for="title">Title</label>
    <input type="text" id="title" [(ngModel)]="appForm.title" name="title" required>
  
    <label for="description">Description</label>
    <input type="text" id="description" [(ngModel)]="appForm.description" name="description" required>
  
    <label for="price">Price</label>
    <input type="number" id="price" [(ngModel)]="appForm.price" name="price" required>
  
    <label for="releaseDate">Release Date</label>
    <input type="date" id="releaseDate" [(ngModel)]="appForm.releaseDate" name="releaseDate" required>
    
    
    <label for="genreIds">Genres</label>
    <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select [formControl]="selectedGenreId" multiple>
          @for (genre of genres; track genre) {
            <mat-option [value]="genre.id">{{genre.name}}</mat-option>
          }
        </mat-select>
    </mat-form-field>
  
    <label for="developerId">Developer ID</label>
    <input type="number" id="developerId" [(ngModel)]="appForm.developerId" name="developerId" required>
      
    <label for="titleCardFile">Title Card File</label>
    <input type="file" (change)="onTitleCardChange($event)" id="titleCardFile" name="titleCardFile" required>

    <label for="imageFiles">imageFiles</label>
    <input type="file" (change)="onImageFilesChange($event)" id="imageFiles" name="imageFiles" multiple required>
  
  
    <button type="submit">Submit</button>
  </form>