<div id="container">
  <form (ngSubmit)="onSubmit()" id="form">

    <div id="profilePicture">
      <label for="profileFile" style="font-size: larger; margin-bottom: 2%; color: #EEEE;">ProfilePicture</label>
      <input type="file" (change)="onFileChange($event)" id="profileFile" name="profileFile" required>
    </div>
    <div id="#userName">
      <mat-form-field>
        <mat-label>UserName</mat-label>
        <input matInput  [(ngModel)]="userRegister.userName" name="userName" required>
      </mat-form-field>
    </div> 
  
    <div id="#description">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="hello" [(ngModel)]="userRegister.description" name="description">
    </mat-form-field>
    </div> 
  
    <div id="#email">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="email@mail.com" [(ngModel)]="userRegister.email" name="email" required>
      </mat-form-field>
    </div> 
  
    <div id="password">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="userRegister.password" name="password" [type]="hide ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>     
           
    <button mat-flat-button type="submit" id="registerButton">Register</button>
  </form>
</div>
